<!DOCTYPE html>
<html th:replace="~{layout/default-layout :: layout(~{::title}, ~{::link}, ~{::main}, ~{::script})}"
      xmlns:th="http//www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <title>마이 서비스</title>

    <link rel="stylesheet" href="/css/member-css.css">
</head>
<body>
    <main>
        <div class="my-profile">
            <div class="cover-image"></div>
            <div class="profile-image">
                <img src="/img/test-profile.jpg">
                <div class="profile-detail">
                    <p class="profile-name">김이름</p>
                    <div class="profile-desc">
                        <p>할말이있나요 test</p>
                        <div class="profile-btn">
                            <a href="#">글 작성하기</a>
                            <button></button>
                            <div class="btn-ctrl">
                                <a href="#">프로필 편집</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="wrap-content">
            <div class="content-list">
                <ul>
                    <li>
                        <a>
                            <div class="content">
                                <strong class="content-title">제목-1</strong>
                                <div class="content-text">
                                    1. 동해물과 백두산이 마르고 닳도록 하느님이 보우하사 우리나라 만세 무궁화 삼천리 화려 강산 대한 사람 대한으로 길이 보전하세
                                    2. 남산 위에 저 소나무 철갑을 두른 듯 바람 서리 불변함은 우리 기상일세 무궁화 삼천리 화려 강산 대한 사람 대한으로 길이 보전하세
                                    3. 가을 하늘 공활한데 높고 구름 없이 밝은 달은 우리 가슴 일편단심일세 무궁화 삼천리 화려 강산 대한 사람 대한으로 길이 보전하세
                                    4. 이 기상과 이 맘으로 충성을 다하여 괴로우나 즐거우나 나라 사랑하세 무궁화 삼천리 화려 강산 대한 사람 대한으로 길이 보전하세
                                </div>
                                <div class="content-comment">
                                    댓글 일자
                                </div>
                            </div>
                            <div class="content-image">
                                <img src="/img/test-1.JPG">
                            </div>
                        </a>
                    </li>
                    <li>
                        <a>
                            <div class="content">
                                <strong class="content-title">제목-1</strong>
                                <div class="content-text">
                                    1. 동해물과 백두산이 마르고 닳도록 하느님이 보우하사 우리나라 만세 무궁화 삼천리 화려 강산 대한 사람 대한으로 길이 보전하세
                                    2. 남산 위에 저 소나무 철갑을 두른 듯 바람 서리 불변함은 우리 기상일세 무궁화 삼천리 화려 강산 대한 사람 대한으로 길이 보전하세
                                    3. 가을 하늘 공활한데 높고 구름 없이 밝은 달은 우리 가슴 일편단심일세 무궁화 삼천리 화려 강산 대한 사람 대한으로 길이 보전하세
                                    4. 이 기상과 이 맘으로 충성을 다하여 괴로우나 즐거우나 나라 사랑하세 무궁화 삼천리 화려 강산 대한 사람 대한으로 길이 보전하세
                                </div>
                                <div class="content-comment">
                                    댓글 일자
                                </div>
                            </div>
                            <div class="content-image">
                                <img src="/img/test-1.JPG">
                            </div>
                        </a>
                    </li>
                    <li>
                        <a>
                            <div class="content">
                                <strong class="content-title">제목-1</strong>
                                <div class="content-text">
                                    1. 동해물과 백두산이 마르고 닳도록 하느님이 보우하사 우리나라 만세 무궁화 삼천리 화려 강산 대한 사람 대한으로 길이 보전하세
                                    2. 남산 위에 저 소나무 철갑을 두른 듯 바람 서리 불변함은 우리 기상일세 무궁화 삼천리 화려 강산 대한 사람 대한으로 길이 보전하세
                                    3. 가을 하늘 공활한데 높고 구름 없이 밝은 달은 우리 가슴 일편단심일세 무궁화 삼천리 화려 강산 대한 사람 대한으로 길이 보전하세
                                    4. 이 기상과 이 맘으로 충성을 다하여 괴로우나 즐거우나 나라 사랑하세 무궁화 삼천리 화려 강산 대한 사람 대한으로 길이 보전하세
                                </div>
                                <div class="content-comment">
                                    댓글 일자
                                </div>
                            </div>
                            <div class="content-image">
                                <img src="/img/test-1.JPG">
                            </div>
                        </a>
                    </li>
                    <li>
                        <a>
                            <div class="content">
                                <strong class="content-title">제목-1</strong>
                                <div class="content-text">
                                    1. 동해물과 백두산이 마르고 닳도록 하느님이 보우하사 우리나라 만세 무궁화 삼천리 화려 강산 대한 사람 대한으로 길이 보전하세
                                    2. 남산 위에 저 소나무 철갑을 두른 듯 바람 서리 불변함은 우리 기상일세 무궁화 삼천리 화려 강산 대한 사람 대한으로 길이 보전하세
                                    3. 가을 하늘 공활한데 높고 구름 없이 밝은 달은 우리 가슴 일편단심일세 무궁화 삼천리 화려 강산 대한 사람 대한으로 길이 보전하세
                                    4. 이 기상과 이 맘으로 충성을 다하여 괴로우나 즐거우나 나라 사랑하세 무궁화 삼천리 화려 강산 대한 사람 대한으로 길이 보전하세
                                </div>
                                <div class="content-comment">
                                    댓글 일자
                                </div>
                            </div>
                            <div class="content-image">
                                <img src="/img/test-1.JPG">
                            </div>
                        </a>
                    </li>
                    <li>
                        <a>
                            <div class="content">
                                <strong class="content-title">제목-1</strong>
                                <div class="content-text">
                                    1. 동해물과 백두산이 마르고 닳도록 하느님이 보우하사 우리나라 만세 무궁화 삼천리 화려 강산 대한 사람 대한으로 길이 보전하세
                                    2. 남산 위에 저 소나무 철갑을 두른 듯 바람 서리 불변함은 우리 기상일세 무궁화 삼천리 화려 강산 대한 사람 대한으로 길이 보전하세
                                    3. 가을 하늘 공활한데 높고 구름 없이 밝은 달은 우리 가슴 일편단심일세 무궁화 삼천리 화려 강산 대한 사람 대한으로 길이 보전하세
                                    4. 이 기상과 이 맘으로 충성을 다하여 괴로우나 즐거우나 나라 사랑하세 무궁화 삼천리 화려 강산 대한 사람 대한으로 길이 보전하세
                                </div>
                                <div class="content-comment">
                                    댓글 일자
                                </div>
                            </div>
                            <div class="content-image">
                                <img src="/img/test-1.JPG">
                            </div>
                        </a>
                    </li>

                </ul>
            </div>
            <div class="content-number">
                <ul>
                    <li>1</li>
                    <li>2</li>
                    <li>3</li>
                    <li>4</li>
                    <li>5</li>
                    <li>6</li>
                    <li>7</li>
                    <li>8</li>
                    <li>9</li>
                    <li>10</li>
                </ul>
            </div>
        </div>

    </main>

    <script>
        window.addEventListener('load', function () {
            const profileBtn = document.querySelector('.profile-btn button');
            const btnCtrl = document.querySelector('.btn-ctrl');

            profileBtn.addEventListener('click', function () {
                btnCtrl.classList.toggle('ctrl-open');
            })

            document.addEventListener('click', function (e){
                if(btnCtrl.classList.contains('ctrl-open')) {
                    console.log('ctrl-open');
                    if(!e.target.closest('.profile-btn')){
                        btnCtrl.classList.remove('ctrl-open');
                    }
                }
            })
        })
    </script>
</body>
</html>