<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>계정찾기</title>
    <link href="/css/member-css.css" rel= "stylesheet">
    <link href="/css/font.css" rel= "stylesheet">
</head>
<style>
    .login-container{
        height: 40%;

    }

    .login-head{
        background-color: inherit;
    }

    .login-form-box{
        position: relative;

        button{
            position: absolute;
            bottom: 50px;
        }
    }
</style>
<body>
<div class="container">
    <div class="login-top"></div>

    <div class="login-container">

        <div class="login-head">
            <h1>아이디 찾기</h1>
        </div>

        <div class="login-form">
            <div class="login-form-box">
                <input placeholder="이메일을 입력"/>
                <button>다음</button>
            </div>
        </div>

    </div>

    <div class="login-bottom"></div>
</div>
</body>
</html>