<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
    <link href="/css/member-css.css" rel= "stylesheet">
    <link href="/css/font.css" rel= "stylesheet">
</head>
<style>
    .login-form-box{
        position: relative;

        button{
            position: absolute;
            bottom: 50px;
        }
    }
</style>
<body>
<div class="container">
    <div class="login-top"></div>

    <div class="login-container">

        <div class="login-form">
            <div class="login-form-box">
                <input placeholder="아이디를 입력"/>
                <input placeholder="비밀번호를 입력"/>
                <input placeholder="닉네임을 입력"/>
                <input placeholder="이메일을 입력"/>
                <button>회원가입</button>
            </div>
        </div>

    </div>

    <div class="login-bottom"></div>
</div>
</body>
</html>