<!DOCTYPE html>
<html th:replace="~{layout/default-layout :: layout(~{::title}, ~{::link}, ~{::main}, ~{::script})}"
      xmlns:th="http//www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <title>내 영화노트들</title>

    <link rel="stylesheet" href="/css/member.css">
</head>
<body>
    <main>

        <div class="wrap-content">
            <div class="content-list">
                <ul>
                    <li>
                        <a href="/detail">
                            <div class="content">
                                <strong class="content-title">제목-1</strong>
                                <div class="content-text">
                                    1. 동해물과 백두산이 마르고 닳도록 하느님이 보우하사 우리나라 만세 무궁화 삼천리 화려 강산 대한 사람 대한으로 길이 보전하세
                                    2. 남산 위에 저 소나무 철갑을 두른 듯 바람 서리 불변함은 우리 기상일세 무궁화 삼천리 화려 강산 대한 사람 대한으로 길이 보전하세
                                    3. 가을 하늘 공활한데 높고 구름 없이 밝은 달은 우리 가슴 일편단심일세 무궁화 삼천리 화려 강산 대한 사람 대한으로 길이 보전하세
                                    4. 이 기상과 이 맘으로 충성을 다하여 괴로우나 즐거우나 나라 사랑하세 무궁화 삼천리 화려 강산 대한 사람 대한으로 길이 보전하세
                                </div>
                                <div class="content-sub-title">
                                    <span >댓글</span>
                                    <span class="sub-title-content">0</span>
                                    <span class="sub-title-content">2024.10.27</span>
                                    <span class="sub-title-content">홍길동</span>
                                </div>
                            </div>
                            <div class="content-image">
                                <img src="/img/test-1.JPG">
                            </div>
                        </a>
                    </li>
                    <li>
                        <a>
                            <div class="content">
                                <strong class="content-title">제목-1</strong>
                                <div class="content-text">
                                    1. 동해물과 백두산이 마르고 닳도록 하느님이 보우하사 우리나라 만세 무궁화 삼천리 화려 강산 대한 사람 대한으로 길이 보전하세
                                    2. 남산 위에 저 소나무 철갑을 두른 듯 바람 서리 불변함은 우리 기상일세 무궁화 삼천리 화려 강산 대한 사람 대한으로 길이 보전하세
                                    3. 가을 하늘 공활한데 높고 구름 없이 밝은 달은 우리 가슴 일편단심일세 무궁화 삼천리 화려 강산 대한 사람 대한으로 길이 보전하세
                                    4. 이 기상과 이 맘으로 충성을 다하여 괴로우나 즐거우나 나라 사랑하세 무궁화 삼천리 화려 강산 대한 사람 대한으로 길이 보전하세
                                </div>
                                <div class="content-sub-title">
                                    <span >댓글</span>
                                    <span class="sub-title-content">0</span>
                                    <span class="sub-title-content">2024.10.27</span>
                                    <span class="sub-title-content">홍길동</span>
                                </div>
                            </div>
                            <div class="content-image">
                                <img src="/img/test-1.JPG">
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="/templates/movies/movie-detail.html">
                            <div class="content">
                                <strong class="content-title">제목-1</strong>
                                <div class="content-text">
                                    1. 동해물과 백두산이 마르고 닳도록 하느님이 보우하사 우리나라 만세 무궁화 삼천리 화려 강산 대한 사람 대한으로 길이 보전하세
                                    2. 남산 위에 저 소나무 철갑을 두른 듯 바람 서리 불변함은 우리 기상일세 무궁화 삼천리 화려 강산 대한 사람 대한으로 길이 보전하세
                                    3. 가을 하늘 공활한데 높고 구름 없이 밝은 달은 우리 가슴 일편단심일세 무궁화 삼천리 화려 강산 대한 사람 대한으로 길이 보전하세
                                    4. 이 기상과 이 맘으로 충성을 다하여 괴로우나 즐거우나 나라 사랑하세 무궁화 삼천리 화려 강산 대한 사람 대한으로 길이 보전하세
                                </div>
                                <div class="content-sub-title">
                                    <span >댓글</span>
                                    <span class="sub-title-content">0</span>
                                    <span class="sub-title-content">2024.10.27</span>
                                    <span class="sub-title-content">홍길동</span>
                                </div>
                            </div>
                            <div class="content-image">
                                <img src="/img/test-1.JPG">
                            </div>
                        </a>
                    </li>
                    <li>
                        <a>
                            <div class="content">
                                <strong class="content-title">제목-1</strong>
                                <div class="content-text">
                                    1. 동해물과 백두산이 마르고 닳도록 하느님이 보우하사 우리나라 만세 무궁화 삼천리 화려 강산 대한 사람 대한으로 길이 보전하세
                                    2. 남산 위에 저 소나무 철갑을 두른 듯 바람 서리 불변함은 우리 기상일세 무궁화 삼천리 화려 강산 대한 사람 대한으로 길이 보전하세
                                    3. 가을 하늘 공활한데 높고 구름 없이 밝은 달은 우리 가슴 일편단심일세 무궁화 삼천리 화려 강산 대한 사람 대한으로 길이 보전하세
                                    4. 이 기상과 이 맘으로 충성을 다하여 괴로우나 즐거우나 나라 사랑하세 무궁화 삼천리 화려 강산 대한 사람 대한으로 길이 보전하세
                                </div>
                                <div class="content-sub-title">
                                    <span >댓글</span>
                                    <span class="sub-title-content">0</span>
                                    <span class="sub-title-content">2024.10.27</span>
                                    <span class="sub-title-content">홍길동</span>
                                </div>
                            </div>
                            <div class="content-image">
                                <img src="/img/test-1.JPG">
                            </div>
                        </a>
                    </li>
                    <li>
                        <a>
                            <div class="content">
                                <strong class="content-title">제목-1</strong>
                                <div class="content-text">
                                    1. 동해물과 백두산이 마르고 닳도록 하느님이 보우하사 우리나라 만세 무궁화 삼천리 화려 강산 대한 사람 대한으로 길이 보전하세
                                    2. 남산 위에 저 소나무 철갑을 두른 듯 바람 서리 불변함은 우리 기상일세 무궁화 삼천리 화려 강산 대한 사람 대한으로 길이 보전하세
                                    3. 가을 하늘 공활한데 높고 구름 없이 밝은 달은 우리 가슴 일편단심일세 무궁화 삼천리 화려 강산 대한 사람 대한으로 길이 보전하세
                                    4. 이 기상과 이 맘으로 충성을 다하여 괴로우나 즐거우나 나라 사랑하세 무궁화 삼천리 화려 강산 대한 사람 대한으로 길이 보전하세
                                </div>
                                <div class="content-sub-title">
                                    <span >댓글</span>
                                    <span class="sub-title-content">0</span>
                                    <span class="sub-title-content">2024.10.27</span>
                                    <span class="sub-title-content">홍길동</span>
                                </div>
                            </div>
                            <div class="content-image">
                                <img src="/img/test-1.JPG">
                            </div>
                        </a>
                    </li>

                </ul>
            </div>
            <div class="content-number">
                <ul>
                    <li>1</li>
                    <li>2</li>
                    <li>3</li>
                    <li>4</li>
                    <li>5</li>
                    <li>6</li>
                    <li>7</li>
                    <li>8</li>
                    <li>9</li>
                    <li>10</li>
                </ul>
            </div>
        </div>
    </main>

    <script>

    </script>
</body>
</html>